body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Monument';
  src: url('./fonts/MonumentExtended-Ultrabold.woff2') format('woff2'), url('./fonts/MonumentExtended-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument';
  src: url('./fonts/MonumentExtended-Regular.woff2') format('woff2'), url('./fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bigilla';
  src: url('./fonts/BigillaRegular.woff2') format('woff2'), url('./fonts/BigillaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bigilla';
  src: url('./fonts/BigillaBold.woff2') format('woff2'), url('./fonts/BigillaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutral Face';
  src: url('./fonts/NeutralFaceRegular.woff2') format('woff2'), url('./fonts/NeutralFaceRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutral Face';
  src: url('./fonts/NeutralFaceBold.woff2') format('woff2'), url('./fonts/NeutralFaceBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
